html {
	font-size: 75px;
}

.m_head {
	position: relative;
	width: 750px;
	height: 88px;
}

.iconfont_back {
	width: 88px;
	height: 88px;
}

.login {
	position: absolute;
	top: 0;
	left: 88px;
	width: 570px;
	text-align: center;
	height: 88px;
	line-height: 88px;
	font-size: 32px;
	color: #373737;
}

.line1 {
	position: absolute;
	top: 88px;
	width: 750px;
	border-top: 1px solid #464646;
}

.m_input {
	position: relative;
	width: 750px;
	height: 570px;
}

.mobileNum {
	border: none;
	position: absolute;
	top: 0px;
	left: 45px;
	width: 630px;
	height: 90px;
	line-height: 90px;
	color: #cfcfcf;
	font-size: 24px;
	border-bottom: 1px solid #999;
	background: rgba(0,0,0,0);
}

.yanzheng {
	border: none;
	position: absolute;
	top: 91px;
	left: 45px;
	width: 630px;
	height: 90px;
	line-height: 90px;
	color: #cfcfcf;
	font-size: 24px;
	border-bottom: 1px solid #999;
	background: rgba(0,0,0,0);
}

.btn_yz {
	position: absolute;
	top: 110px;
	right: 76px;
	width: 224px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	/*border: 1px solid #999;*/
	border-radius: 5px;
	font-size: 24px;
	color: #fff;
	background: #fb9c77;
	cursor: pointer;
}

.password {
	border: none;
	position: absolute;
	top: 180px;
	left: 45px;
	width: 630px;
	height: 90px;
	line-height: 90px;
	color: #cfcfcf;
	font-size: 24px;
	border-bottom: 1px solid #999;
	background: rgba(0,0,0,0);
}
.xieyi{
	position: absolute;
	left: 45px;
	top: 310px;
	width: 627px;
	height: 22px;
	line-height: 22px;
	font-size: 22px;
	color: #999;
}
.btn_login{
	position: absolute;
	top: 380px;
	left: 140px;
	width: 409px;
	height: 74px;
	line-height: 74px;
	text-align: center;
	border: 1px solid #999;
	border-radius: 10px;
	font-size: 26px;
	color: #fb9c77;
	cursor: pointer;
}
